@page
@model MyApp.Namespace.AboutModel
@{
    ViewBag.Title = "About";
}

<h1>About</h1>
<p>Use this area to provide additional information .</p>

<!-- add an image from web--> 

<img src="https://upload.wikimedia.org/wikipedia/en/6/6c/Donkey_%28Shrek%29.png " alt="Donkey" width="200" height="200">


